* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Montserrat;
}

a,
input,
button {
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.mainheader {
  background-color: #E1FF8F;
  position: relative;
}
.mainheader__mobile {
  display: none;
}

.mainheader__bg1 {
  position: absolute;
  right: 0%;
  z-index: 1;
}

.mainheader__bg2 {
  position: absolute;
  right: 15%;
  z-index: 1;
}

.mainheader__bg3 {
  position: absolute;
  right: 15%;
  top: 35%;
  z-index: 1;
}

.mainheader__bg4 {
  position: absolute;
  right: 0%;
  top: 55%;
  z-index: 1;
}

.mainheader__bg5 {
  position: absolute;
  right: 8%;
  top: 70%;
  z-index: 1;
}

.mainheader__bg6 {
  position: absolute;
  right: 27%;
  top: 80%;
  z-index: 1;
}

.mainheader__bg7 {
  position: absolute;
  right: 35%;
  top: 73%;
  z-index: 1;
}

.mainheader__bg8 {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 1;
}

.mainheader__bg9 {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
}

.header__main {
  font-weight: 700;
  font-size: 64px;
  padding-top: 196px;
  padding-bottom: 24px;
  z-index: 0;
}
.header__desc {
  font-size: 24px;
  padding-bottom: 48px;
  z-index: 0;
}
.header__button {
  background: #202027;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 60px;
  width: 247px;
  height: 66px;
  font-size: 24px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 156px;
  font-weight: 600;
  z-index: 0;
}
.header__button:hover {
  background: white;
  border: 1px solid #000000;
  color: #000000;
  transition: all 0.5s;
}

.about-games {
  background-color: #202027;
  position: relative;
}
.about-games__first {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: flex-start;
}
.about-games__second {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: flex-end;
}
.about-games__heading {
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
  padding-top: 94px;
}
.about-games__desc {
  color: #FFFFFF;
  line-height: 32px;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 72px;
}
.about-games__cards {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.about-games__card {
  width: 378px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  text-decoration: none;
  z-index: 1;
}
.about-games__card:hover {
  transform: scale(1.08);
  transition: all 0.5s;
}
.about-games__img {
  width: 100%;
}
.about-games__number {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F7F7F7;
  width: 111px;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 32px;
  margin-left: 32px;
  color: #202027;
}
.about-games__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  padding-left: 32px;
  padding-bottom: 36px;
  padding-top: 16px;
  padding-right: 32px;
  color: #000000;
}
.about-games .ag_bg1 {
  position: absolute;
  right: 0%;
  top: 77px;
  z-index: 0;
}
.about-games .ag_bg2 {
  position: absolute;
  z-index: 0;
  top: 51%;
  left: 3%;
}
.about-games .ag_bg3 {
  position: absolute;
  z-index: 0;
  top: 58%;
  left: 5%;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mainheader {
    background-color: #E1FF8F;
    position: relative;
  }
  .mainheader__bg {
    display: none;
  }
  .header__main {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 147px;
    z-index: 1;
  }
  .header__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 36px;
    z-index: 1;
  }
  .header__button {
    background: #202027;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 60px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 180px;
    font-weight: 600;
    z-index: 1;
  }
  .header__button:hover {
    background: white;
    border: 1px solid #000000;
    color: #000000;
    transition: all 0.5s;
  }
}/*# sourceMappingURL=style.css.map */